@media screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    div#voltar {
        font-size: 1.2em;
        width: 120px;
        padding: 5px;
    }

    div > img {
        max-width: 100%;
    }
}