@charset "UTF-8";

/*estilos gerais*/

/*
paletas de cores

*/

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #550606cb;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: #f0f8ff;
    width: 250px;
    height: 515px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);

    transform: translate(-50%, -50%);
    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #550606cb url(../imagens/) no-repeat;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

section#login > div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

section#login > div#formulario > p {
    text-align: justify;
    font-size: 0.8em;   
}

form > div.campo {
    background-color: rgb(121, 15, 11);
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div .campo > span{
    color: white;
    
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input{
    background-color: rgb(184, 190, 196);
    font-size: 1em;
    width: calc(100% - 50px);
    height: 80%;
    border: 0px;
    border-radius: 8px;
    padding: 5px;
    transform: translateY(-12px);
}

div.campo > input:focus-within{
    background-color: white;
}

form > input[type= submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: #7e0707cb;
    color: #f0f8ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

form > input[type= submit]:hover {
    background-color: rgba(85, 6, 6, 0.796);
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-top: 10px;
    background-color: rgba(126, 7, 7, 0.796);
    color: #0f1ef0;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color:#550b0bcb;
}

form > a.botao > span {
    font-size: 0.8em;
}
