@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to top, #9b5d5d, #550606);
    height: 100vh;
    width: 100vw;
}

body > h1{
    color: rgb(184, 190, 196);
    font-family:none;
    text-align: center;
    font-weight: normal;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.33);
    font-size: 3em;
    margin: 50px 50px;
}

body > div{
    text-align: center;
    margin: 10px;
}

div > img{
    margin: 10px;
}

div#voltar{
    text-align: center;
    font-size: 1.5em;
    display: block;
    background-color: rgb(184, 190, 196);
    margin: 15px auto;
    height: 35px;
    width: 150px;
    padding: 3px;
    border-radius: 10px;
}

a{
    color: black;
    text-decoration: none;
}

div#voltar:hover{
    background-color: aquamarine;
}